.virtual-tutor-website {
  margin-top: 30px;
  padding-bottom: 20px;
}

.virtual-tutor-website .heading {
  padding: 15px 0;
}

.plan-item .heading {
  color: #234;
  text-align: left;
}

.plan-item {
  counter-increment: item;
}

.plan-item .heading::before {
  margin-right: 10px;
  content: counter(item);
  background: #234;
  color: #fb5;
  height: 1.5em;
  width: 1.5em;
  font-size: 0.8em;
  position: relative;
  top: -2px;
  text-align: center;
  display: inline-block;
}
