.levelList {
  background: #fdb;
  margin-top: 20px;
  padding-bottom: 10px;
}

.levelList .heading {
  padding-top: 20px;
}

.price {
  margin-top: 50px;
  text-align: center;
  font-size: 52px;
  line-height: 30px;
}

.price__subtext {
  display: block;
  font-size: 1rem;
}
