body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #fafafa;
}

a:hover {
  text-decoration: none;
}

header {
  background: rgba(0,0,0,0.9);
  position: fixed;
  width: 100%;
  padding: 10px 0;
  font-family: 'Lato', sans-serif;
  z-index: 10;
}

.header__title {
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
}

.header__title a {
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.header__title a:hover {
  text-decoration: none;
}

.header__btn {
  list-style: none;
  float: right;
  margin: 0;
}

.header__btn li {
  display: inline-block;
  text-transform: capitalize;
}

.header__btn li a {
  text-decoration: none;
  color: #aaa;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.header__btn li a:hover {
  color: #fff;
}

.header__btn li a.active {
  color: #fff;
  border-top: 2px solid #fff;
}

.heading {
  font-size: 28px;
  text-align: center;
  padding: 45px 0 15px 0;
  color: #222;
}

footer {
  background: #222;
  padding: 30px;
  color: #eee;
  margin-top: 60px;
}

.footer__address {
  text-align: center;
}

.fa-mobile-phone {
  margin-left: 2px;
  margin-right: -2px;
  font-size: 24px;
  line-height: 1rem;
  padding-top: 1rem;
}

.footer__contact {
  text-align: center;
}

.footer__contact .fa {
  width: 23px;
}

.footer__social {
  margin-top: 20px;
  text-align: center;
}

.footer__social a {
  font-size: 2em;
  color: #888;
}

.footer__social .fa-facebook-official:hover {
  color: #3b5998;
}

.footer__copyright {
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__address {
    text-align: right;
  }
  .footer__contact {
    text-align: left;
  }
  .footer__social {
    margin: 0;
    margin: none
  }
  .footer__copyright {
    margin: 0;
    margin: none
  }
}


.icon {
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.icon-caption {
  text-align: center;
}

.jumbotron {
  padding: 10px 20px;
  margin: 0;
  background: none;
}


.filler {
  height: 500px
}

/* avoid flicker*/
.sr .fooReveal { visibility: hidden; }
